interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://api.upbit.com/v1/accounts
  response:
    body:
      string: |-
        [
          {
            "currency": "KRW",
            "balance": "50000.47088291",
            "locked": "0",
            "avg_buy_price": "0",
            "avg_buy_price_modified": true,
            "unit_currency": "KRW"
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=default; min=1800; sec=29
    status:
      code: 200
      message: OK
version: 1
