interactions:
- request:
    body: '{"market":"KRW-BTC","side":"bid","volume":"0.0005","price":"10000000","ord_type":"limit"}'
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.upbit.com/v1/orders/test
  response:
    body:
      string: |-
        {
          "uuid": "001f3413-6425-45b6-89dd-0b8883fc5c59",
          "side": "bid",
          "ord_type": "limit",
          "price": "10000000",
          "state": "wait",
          "market": "KRW-BTC",
          "created_at": "2026-03-22T21:42:16+09:00",
          "volume": "0.0005",
          "remaining_volume": "0.0005",
          "prevented_volume": "0",
          "reserved_fee": "2.5",
          "remaining_fee": "2.5",
          "paid_fee": "0",
          "locked": "5002.5",
          "prevented_locked": "0",
          "executed_volume": "0",
          "trades_count": 0
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=order-test; min=480; sec=7
    status:
      code: 201
      message: Created
version: 1
