interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://api.upbit.com/v1/orders/chance?market=KRW-BTC
  response:
    body:
      string: |-
        {
          "bid_fee": "0.0005",
          "ask_fee": "0.0005",
          "maker_bid_fee": "0.0005",
          "maker_ask_fee": "0.0005",
          "market": {
            "id": "KRW-BTC",
            "name": "BTC/KRW",
            "order_types": [
              "limit"
            ],
            "order_sides": [
              "ask",
              "bid"
            ],
            "bid_types": [
              "best_fok",
              "best_ioc",
              "limit",
              "limit_fok",
              "limit_ioc",
              "price"
            ],
            "ask_types": [
              "best_fok",
              "best_ioc",
              "limit",
              "limit_fok",
              "limit_ioc",
              "market"
            ],
            "bid": {
              "currency": "KRW",
              "min_total": "5000"
            },
            "ask": {
              "currency": "BTC",
              "min_total": "5000"
            },
            "max_total": "1000000000",
            "state": "active"
          },
          "bid_account": {
            "currency": "KRW",
            "balance": "50000.47088291",
            "locked": "0",
            "avg_buy_price": "0",
            "avg_buy_price_modified": true,
            "unit_currency": "KRW"
          },
          "ask_account": {
            "currency": "BTC",
            "balance": "0",
            "locked": "0",
            "avg_buy_price": "0",
            "avg_buy_price_modified": false,
            "unit_currency": "KRW"
          }
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=default; min=1800; sec=29
    status:
      code: 200
      message: OK
version: 1
