interactions:
- request:
    body: '{"market":"KRW-BTC","side":"bid","volume":"0.0005","price":"10000000","ord_type":"limit"}'
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.upbit.com/v1/orders
  response:
    body:
      string: |-
        {
          "uuid": "2adc81d8-5497-403f-826e-3ce93af457cf",
          "side": "bid",
          "ord_type": "limit",
          "price": "10000000",
          "state": "wait",
          "market": "KRW-BTC",
          "created_at": "2026-03-22T21:42:28+09:00",
          "volume": "0.0005",
          "remaining_volume": "0.0005",
          "prevented_volume": "0",
          "reserved_fee": "2.5",
          "remaining_fee": "2.5",
          "paid_fee": "0",
          "locked": "5002.5",
          "prevented_locked": "0",
          "executed_volume": "0",
          "trades_count": 0
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=order; min=480; sec=6
    status:
      code: 201
      message: Created
[...]
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: DELETE
    uri: https://api.upbit.com/v1/orders/uuids?uuids%5B%5D=2adc81d8-5497-403f-826e-3ce93af457cf&uuids%5B%5D=c8f748a1-4b03-428e-8b58-1eec1d87acc9
  response:
    body:
      string: |-
        {
          "success": {
            "count": 2,
            "orders": [
              {
                "uuid": "c8f748a1-4b03-428e-8b58-1eec1d87acc9",
                "market": "KRW-BTC"
              },
              {
                "uuid": "2adc81d8-5497-403f-826e-3ce93af457cf",
                "market": "KRW-BTC"
              }
            ]
          },
          "failed": {
            "count": 0,
            "orders": []
          }
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=default; min=1800; sec=28
    status:
      code: 200
      message: OK
version: 1
