interactions:
- request:
    body: '{"market":"KRW-BTC","side":"bid","volume":"0.0005","price":"10000000","ord_type":"limit"}'
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.upbit.com/v1/orders
  response:
    body:
      string: |-
        {
          "uuid": "348ad871-1f2e-4caa-bb9d-b6b4ae4d333e",
          "side": "bid",
          "ord_type": "limit",
          "price": "10000000",
          "state": "wait",
          "market": "KRW-BTC",
          "created_at": "2026-03-22T21:42:26+09:00",
          "volume": "0.0005",
          "remaining_volume": "0.0005",
          "prevented_volume": "0",
          "reserved_fee": "2.5",
          "remaining_fee": "2.5",
          "paid_fee": "0",
          "locked": "5002.5",
          "prevented_locked": "0",
          "executed_volume": "0",
          "trades_count": 0
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=order; min=480; sec=7
    status:
      code: 201
      message: Created
- request:
    body: '{"new_ord_type":"limit","prev_order_uuid":"348ad871-1f2e-4caa-bb9d-b6b4ae4d333e","new_volume":"0.0005","new_price":"10500000"}'
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api.upbit.com/v1/orders/cancel_and_new
  response:
    body:
      string: |-
        {
          "uuid": "348ad871-1f2e-4caa-bb9d-b6b4ae4d333e",
          "side": "bid",
          "ord_type": "limit",
          "price": "10000000",
          "state": "wait",
          "market": "KRW-BTC",
          "created_at": "2026-03-22T21:42:26+09:00",
          "volume": "0.0005",
          "remaining_volume": "0.0005",
          "prevented_volume": "0",
          "reserved_fee": "2.5",
          "remaining_fee": "2.5",
          "paid_fee": "0",
          "locked": "5002.5",
          "prevented_locked": "0",
          "executed_volume": "0",
          "trades_count": 0,
          "new_order_uuid": "5cb0988d-879d-405d-93e0-2530e9d6dff2"
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=order; min=480; sec=6
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: DELETE
    uri: https://api.upbit.com/v1/order?uuid=5cb0988d-879d-405d-93e0-2530e9d6dff2
  response:
    body:
      string: |-
        {
          "uuid": "5cb0988d-879d-405d-93e0-2530e9d6dff2",
          "side": "bid",
          "ord_type": "limit",
          "price": "10500000",
          "state": "wait",
          "market": "KRW-BTC",
          "created_at": "2026-03-22T21:42:27+09:00",
          "volume": "0.0005",
          "remaining_volume": "0.0005",
          "prevented_volume": "0",
          "reserved_fee": "2.625",
          "remaining_fee": "2.625",
          "paid_fee": "0",
          "locked": "5252.625",
          "prevented_locked": "0",
          "executed_volume": "0",
          "trades_count": 0
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Remaining-Req:
      - group=default; min=1800; sec=28
    status:
      code: 200
      message: OK
version: 1
