interactions:
- request:
    body: ''
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://api.upbit.com/v1/orders/closed
  response:
    body:
      string: |-
        [
          {
            "uuid": "a4337bbf-6d86-4361-bb34-180812fc87ce",
            "side": "bid",
            "ord_type": "limit",
            "price": "10000000",
            "state": "cancel",
            "market": "KRW-BTC",
            "created_at": "2026-03-22T21:36:34+09:00",
            "volume": "0.0005",
            "remaining_volume": "0.0005",
            "prevented_volume": "0",
            "reserved_fee": "2.5",
            "remaining_fee": "2.5",
            "paid_fee": "0",
            "locked": "5002.5",
            "prevented_locked": "0",
            "executed_volume": "0",
            "executed_funds": "0",
            "trades_count": 0
          },
          {
            "uuid": "56e7dbc5-35af-43bf-b8aa-c3361fb48e14",
            "side": "bid",
            "ord_type": "limit",
            "price": "10100000",
            "state": "cancel",
            "market": "KRW-BTC",
            "created_at": "2026-03-22T21:36:33+09:00",
            "volume": "0.0005",
            "remaining_volume": "0.0005",
            "prevented_volume": "0",
            "reserved_fee": "2.525",
            "remaining_fee": "2.525",
            "p[...]
