interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/candles/days?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "candle_date_time_utc": "2026-03-11T00:00:00",
            "candle_date_time_kst": "2026-03-11T09:00:00",
            "opening_price": 102417000.0,
            "high_price": 103988000.0,
            "low_price": 101150000.0,
            "trade_price": 103460000.0,
            "timestamp": 1773240059132,
            "candle_acc_trade_price": 104890599315.22821,
            "candle_acc_trade_volume": 1024.30999241,
            "prev_closing_price": 102417000.0,
            "change_price": 1043000.0,
            "change_rate": 0.0101838562
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"0e2f0e810adeff5a52edede46f10a87be"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=candles; min=600; sec=7
    status:
      code: 200
      message: ''
version: 1
