interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/ticker?markets=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "trade_date": "20260311",
            "trade_time": "144058",
            "trade_date_kst": "20260311",
            "trade_time_kst": "234058",
            "trade_timestamp": 1773240058930,
            "opening_price": 102417000.0,
            "high_price": 103988000.0,
            "low_price": 101150000.0,
            "trade_price": 103493000.0,
            "prev_closing_price": 102417000.0,
            "change": "RISE",
            "change_price": 1076000.0,
            "change_rate": 0.0105060683,
            "signed_change_price": 1076000.0,
            "signed_change_rate": 0.0105060683,
            "trade_volume": 0.00094678,
            "acc_trade_price": 104890185475.22821,
            "acc_trade_price_24h": 162997300132.123,
            "acc_trade_volume": 1024.30599241,
            "acc_trade_volume_24h": 1587.73606087,
            "highest_52_week_price": 179869000.0,
            "highest_52_week_date": "2025-10-09",
            "lowest_52_week_price": 89000000.0,
            "lowest_52_week_date": "2026-02-06",
            "timestamp": 1773240058973
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"0e6d1ec70cf4d6cb620fcb13a2e2152bf"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=ticker; min=600; sec=9
    status:
      code: 200
      message: ''
version: 1
