interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/trades/ticks?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "trade_date_utc": "2026-03-11",
            "trade_time_utc": "14:40:59",
            "timestamp": 1773240059095,
            "trade_price": 103460000.0,
            "trade_volume": 0.004,
            "prev_closing_price": 102417000.0,
            "change_price": 1043000.0,
            "ask_bid": "ASK",
            "sequential_id": 17732400590950000
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"0a6b8854d7c51a408870657a25a3b8b3f"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=crix-trades; min=600; sec=9
    status:
      code: 200
      message: ''
version: 1
