interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/candles/years?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "candle_date_time_utc": "2026-01-01T00:00:00",
            "candle_date_time_kst": "2026-01-01T09:00:00",
            "opening_price": 128000000.0,
            "high_price": 143050000.0,
            "low_price": 89000000.0,
            "trade_price": 103458000.0,
            "timestamp": 1773240058227,
            "candle_acc_trade_price": 17343033068679.969,
            "candle_acc_trade_volume": 158145.17293,
            "first_day_of_period": "2026-01-01"
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"04d6f240fd20db2771af2f44a98eec345"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=candles; min=600; sec=4
    status:
      code: 200
      message: ''
version: 1
