interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/orderbook?markets=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "timestamp": 1773240059027,
            "total_ask_size": 4.17884094,
            "total_bid_size": 2.29686376,
            "orderbook_units": [
              {
                "bid_price": 103460000,
                "bid_size": 0.004,
                "ask_price": 103493000,
                "ask_size": 0.04910155
              },
              {
                "bid_price": 103438000,
                "bid_size": 0.00483381,
                "ask_price": 103507000,
                "ask_size": 0.06146
              },
              {
                "bid_price": 103425000,
                "bid_size": 0.00575317,
                "ask_price": 103513000,
                "ask_size": 0.01220829
              },
              {
                "bid_price": 103424000,
                "bid_size": 0.0114[...]
