interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/candles/months?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "candle_date_time_utc": "2026-03-01T00:00:00",
            "candle_date_time_kst": "2026-03-01T09:00:00",
            "opening_price": 97626000.0,
            "high_price": 107547000.0,
            "low_price": 95100000.0,
            "trade_price": 103458000.0,
            "timestamp": 1773240058227,
            "candle_acc_trade_price": 2511125524827.9736,
            "candle_acc_trade_volume": 24783.48727285,
            "first_day_of_period": "2026-03-01"
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"0c3baff016ae2faa833b0ddc4d154ba07"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=candles; min=600; sec=5
    status:
      code: 200
      message: ''
version: 1
