interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/candles/minutes/1?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "candle_date_time_utc": "2026-03-11T14:40:00",
            "candle_date_time_kst": "2026-03-11T23:40:00",
            "opening_price": 103600000.0,
            "high_price": 103600000.0,
            "low_price": 103425000.0,
            "trade_price": 103460000.0,
            "timestamp": 1773240059132,
            "candle_acc_trade_price": 164899503.14206,
            "candle_acc_trade_volume": 1.5933512,
            "unit": 1
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"0a8e7aea04abff309a8a41bc33b086c11"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=candles; min=600; sec=9
    status:
      code: 200
      message: ''
version: 1
