interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/orderbook/instruments?markets=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "quote_currency": "KRW",
            "tick_size": "1000",
            "supported_levels": [
              "0",
              "10000",
              "100000",
              "1000000",
              "10000000",
              "100000000"
            ]
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"034e7c494fb815a503786f7551ede9810"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=orderbook; min=600; sec=8
    status:
      code: 200
      message: ''
version: 1
