interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/ticker/all?quote_currencies=KRW
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-XRP",
            "trade_date": "20260311",
            "trade_time": "144058",
            "trade_date_kst": "20260311",
            "trade_time_kst": "234058",
            "trade_timestamp": 1773240058297,
            "opening_price": 2030.0,
            "high_price": 2063.0,
            "low_price": 2011.0,
            "trade_price": 2045.0,
            "prev_closing_price": 2030.0,
            "change": "RISE",
            "change_price": 15.0,
            "change_rate": 0.0073891626,
            "signed_change_price": 15.0,
            "signed_change_rate": 0.0073891626,
            "trade_volume": 29.8121,
            "acc_trade_price": 126446991952.00276,
            "acc_trade_price_24h": 241523281965.90393,
            "acc_trade_volume": 62320655.41914861,
            "acc_trade_volume_24h": 118141105.1536524,
            "highest_52_week_price": 4972.0,
            "highest_52_week_date": "2025-07-18",
            "lowest_52_week_price": 1658.0,
            "lowest_52_week_date": "2026-02-06",
            "timestamp": 1773240058509
          },
          {
            "market": "KRW-BTC",
            "trade_date": "20260311",
            "trade_time": "144058",
            "trade_date_kst": "20260311",
            "trade_time_kst": "234058",
            "trade_timestamp": 1773240058195,
            "opening_price": 102417000.0,
            "high_price": 103988000.0,
            "low_price": 101150000.0,
            "trade_price": 103458000.0,
            "prev_closing_price": 102417000.0,
            "change[...]
