interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/candles/seconds?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "candle_date_time_utc": "2026-03-11T14:40:58",
            "candle_date_time_kst": "2026-03-11T23:40:58",
            "opening_price": 103460000.0,
            "high_price": 103460000.0,
            "low_price": 103458000.0,
            "trade_price": 103458000.0,
            "timestamp": 1773240058227,
            "candle_acc_trade_price": 2654722.02446,
            "candle_acc_trade_volume": 0.0256597
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"0d58aff73ea3905a461dd4a4c52108fe2"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=candles; min=600; sec=8
    status:
      code: 200
      message: ''
version: 1
