interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.upbit.com/v1/candles/weeks?market=KRW-BTC
  response:
    body:
      string: |-
        [
          {
            "market": "KRW-BTC",
            "candle_date_time_utc": "2026-03-09T00:00:00",
            "candle_date_time_kst": "2026-03-09T09:00:00",
            "opening_price": 97845000.0,
            "high_price": 104500000.0,
            "low_price": 97668000.0,
            "trade_price": 103460000.0,
            "timestamp": 1773240059132,
            "candle_acc_trade_price": 509244554633.83154,
            "candle_acc_trade_volume": 5004.32824461,
            "first_day_of_period": "2026-03-09"
          }
        ]
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      ETag:
      - W/"09ee0393a8bf559bad6162e1ec1de4914"
      Limit-By-Ip:
      - 'Yes'
      Remaining-Req:
      - group=candles; min=600; sec=6
    status:
      code: 200
      message: ''
version: 1
