openapi: "3.1.0"
info:
  title: Upbit Exchange API
  description: |
    업비트 거래 및 자산 관리(Exchange) API 명세.
    인증이 필요한 API입니다 (JWT Bearer).

    ## 공통 사항
    - TLS 1.2 이상 필요 (1.3 권장)
    - Content-Type: application/json; charset=utf-8
    - POST 요청은 반드시 JSON 형식으로 본문(Body)을 전송해야 합니다 (Form 방식 지원 종료, 2022-03)
    - 모든 Rate Limit은 계정 단위로 측정됩니다
    - 응답 헤더 Remaining-Req로 잔여 요청 횟수를 확인할 수 있습니다
      (형식: "group=default; min=1800; sec=29")
    - 모든 금액/수량 값은 정밀도를 위해 문자열(string)로 반환됩니다
  version: "1.6.1"
  contact:
    name: Upbit Open API
    url: https://docs.upbit.com

servers:
  - url: https://api.upbit.com
    description: Upbit Production

security:
  - jwt: []

tags:
  - name: accounts
    description: 계정 잔고 조회
  - name: orders
    description: 주문 생성/조회/취소
  - name: deposits
    description: 입금 조회/요청
  - name: withdrawals
    description: 출금 조회/요청
  - name: travel_rule
    description: 트래블룰 검증
  - name: service
    description: 서비스 상태 및 API Key 관리

# ─────────────────────────── paths ───────────────────────────

paths:

  # ── Accounts ──

  /v1/accounts:
    get:
      operationId: listAccounts
      summary: 계정 잔고 조회
      description: 계정이 보유하고 있는 자산 목록과 잔고를 조회합니다.
      tags: [accounts]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      responses:
        "200":
          description: 자산 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Orders ──

  /v1/orders:
    post:
      operationId: createOrder
      summary: 주문 생성
      description: |
        특정 페어를 매수/매도하기 위한 주문을 생성합니다.

        주문 유형(ord_type):
        - `limit`: 지정가 주문
        - `price`: 시장가 매수 주문
        - `market`: 시장가 매도 주문
        - `best`: 최유리 지정가 주문

        주문 체결 조건(time_in_force):
        - `ioc`: IOC (Immediate or Cancel)
        - `fok`: FOK (Fill or Kill)
        - `post_only`: Post Only (지정가 주문에서만 사용 가능)
      tags: [orders]
      x-rate-limit:
        group: order
        max_per_sec: 8
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "201":
          description: 생성된 주문 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/orders/test:
    post:
      operationId: createOrderTest
      summary: 주문 생성 테스트
      description: |
        실제 주문을 생성하지 않고 주문 요청 형식과 주문 가능 여부를 검증합니다.

        실제 주문 API를 호출하기 전 이 API를 통해 거래 수수료 없이 주문 생성 가능 여부를 테스트하고,
        발생 가능한 오류를 사전에 확인할 수 있습니다.

        테스트 주문은 실제 주문과 동일한 검증 과정을 거치지만, 주문이 실제로 생성되지는 않습니다.
        따라서 응답으로 반환된 UUID(혹은 identifier)는 주문 조회나 취소 요청에 사용할 수 없습니다.
      tags: [orders]
      x-rate-limit:
        group: order_test
        max_per_sec: 8
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "201":
          description: 테스트 주문 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/order:
    get:
      operationId: getOrder
      summary: 개별 주문 조회
      description: |
        주문의 UUID 또는 Identifier로 단일 주문 정보를 조회합니다.

        uuid 또는 identifier 중 하나는 반드시 포함해야 합니다.
        uuid와 identifier를 모두 사용하는 경우, uuid를 기준으로 조회됩니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: uuid
          in: query
          required: false
          description: 조회하고자 하는 주문의 유일식별자(UUID)
          schema:
            type: string
        - name: identifier
          in: query
          required: false
          description: 조회하고자 하는 주문의 클라이언트 지정 식별자
          schema:
            type: string
      responses:
        "200":
          description: 주문 상세 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: cancelOrder
      summary: 개별 주문 취소 접수
      description: |
        UUID 또는 Identifier로 주문을 취소합니다.

        uuid 또는 identifier 중 하나는 반드시 포함해야 합니다.
        uuid와 identifier를 모두 사용하는 경우, uuid를 기준으로 취소됩니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: uuid
          in: query
          required: false
          description: 취소하고자 하는 주문의 유일식별자(UUID)
          schema:
            type: string
        - name: identifier
          in: query
          required: false
          description: 취소하고자 하는 주문의 클라이언트 지정 식별자
          schema:
            type: string
      responses:
        "200":
          description: 취소 접수된 주문 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCanceled"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/orders/open:
    get:
      operationId: listOpenOrders
      summary: 체결 대기 주문 목록 조회
      description: |
        체결 대기 중인 주문(Open Orders) 목록을 조회합니다.

        state와 states[]는 동시에 사용할 수 없습니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: market
          in: query
          required: false
          description: 조회하고자 하는 페어(거래쌍)
          schema:
            type: string
          example: "KRW-BTC"
        - name: state
          in: query
          required: false
          description: "주문의 상태. `wait`(체결 대기), `watch`(예약 주문 대기)"
          schema:
            type: string
            enum: [wait, watch]
            default: wait
        - name: states[]
          in: query
          required: false
          description: "주문의 상태 (배열). `wait`, `watch`"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [wait, watch]
        - name: page
          in: query
          required: false
          description: 조회할 페이지 번호
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          description: "요청 개수 (default: 100, max: 100)"
          schema:
            type: integer
            default: 100
            maximum: 100
        - $ref: "#/components/parameters/OrderByParam"
      responses:
        "200":
          description: 체결 대기 주문 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderOpen"
        "400":
          $ref: "#/components/responses/BadRequest"
    delete:
      operationId: batchCancelOrders
      summary: 주문 일괄 취소 접수
      description: |
        조건을 지정하여 해당 조건을 만족하는 최대 300개의 주문을 일괄 취소합니다.

        일괄 취소 API로는 오직 체결 대기(WAIT) 상태의 주문만 취소할 수 있습니다.
        예약 주문(WATCH) 상태의 주문은 개별 주문 취소 접수 또는 id로 주문 목록 취소 접수 API를 사용해주세요.

        이 API는 쿼리 파라미터 형식만 지원합니다.
        페어(pairs)과 마켓(quote_currencies) 조건은 동시에 사용할 수 없습니다.
      tags: [orders]
      x-rate-limit:
        group: batch_cancel
        max_per_sec: 0.5
        unit: account
      parameters:
        - name: quote_currencies
          in: query
          required: false
          description: "주문 취소 대상 마켓 목록. KRW, BTC, USDT 등"
          schema:
            type: string
          example: "KRW"
        - name: cancel_side
          in: query
          required: false
          description: "취소하고자 하는 주문의 매수/매도 방향. `all`(전체), `ask`(매도), `bid`(매수)"
          schema:
            type: string
            enum: [all, ask, bid]
            default: all
        - name: count
          in: query
          required: false
          description: "취소할 주문의 최대 개수. 최대값 300, 기본값 20"
          schema:
            type: integer
            default: 20
            maximum: 300
        - name: order_by
          in: query
          required: false
          description: "취소할 주문의 정렬 방식. `asc`(오름차순), `desc`(내림차순, 기본값)"
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: pairs
          in: query
          required: false
          description: "페어(거래쌍) 목록. 최대 20개, 쉼표 구분"
          schema:
            type: string
          example: "KRW-BTC,KRW-ETH"
        - name: exclude_pairs
          in: query
          required: false
          description: "취소 제외 페어 목록. 최대 20개, 쉼표 구분"
          schema:
            type: string
          example: "KRW-BTC,KRW-ETH"
      responses:
        "200":
          description: 일괄 취소 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/orders/closed:
    get:
      operationId: listClosedOrders
      summary: 종료 주문 목록 조회
      description: |
        종료 주문(Closed Order) 목록을 조회합니다.
        종료 주문은 전량 체결 주문과 취소 주문을 포함합니다.
        조회 기간을 정하는 경우 최대 7일 구간(window)을 조회할 수 있습니다.

        state와 states[]는 동시에 사용할 수 없습니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: market
          in: query
          required: false
          description: 조회하고자 하는 페어(거래쌍)
          schema:
            type: string
          example: "KRW-BTC"
        - name: state
          in: query
          required: false
          description: "주문의 상태. `done,cancel`(전체), `done`(체결 완료만), `cancel`(취소만)"
          schema:
            type: string
            default: "done,cancel"
        - name: states[]
          in: query
          required: false
          description: "주문의 상태 (배열). `done`, `cancel`"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum: [done, cancel]
        - name: start_time
          in: query
          required: false
          description: "조회 기간의 시작 시각. ISO 8601 형식 또는 밀리초 타임스탬프. 최대 7일 구간"
          schema:
            type: string
        - name: end_time
          in: query
          required: false
          description: "조회 기간의 종료 시각. ISO 8601 형식 또는 밀리초 타임스탬프. 최대 7일 구간"
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "요청 개수 (default: 100, max: 1,000)"
          schema:
            type: integer
            default: 100
            maximum: 1000
        - $ref: "#/components/parameters/OrderByParam"
      responses:
        "200":
          description: 종료 주문 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderClosed"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/orders/uuids:
    get:
      operationId: listOrdersByIds
      summary: id로 주문 목록 조회
      description: |
        UUID 또는 Identifier 목록으로 주문을 조회합니다.

        uuid[] 또는 identifier[]를 반드시 포함해야 합니다.
        두 파라미터를 동시에 사용할 수 없습니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: market
          in: query
          required: false
          description: 조회하고자 하는 페어(거래쌍)
          schema:
            type: string
          example: "KRW-BTC"
        - name: uuids[]
          in: query
          required: false
          description: "조회하고자 하는 주문의 UUID 목록. 최대 100개"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: identifiers[]
          in: query
          required: false
          description: "조회하고자 하는 주문의 클라이언트 지정 식별자 목록. 최대 100개"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - $ref: "#/components/parameters/OrderByParam"
      responses:
        "200":
          description: 주문 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderByIds"
        "400":
          $ref: "#/components/responses/BadRequest"
    delete:
      operationId: cancelOrdersByIds
      summary: id로 주문 목록 취소 접수
      description: |
        UUID 또는 Identifier 목록으로 취소 대상 주문을 지정 취소합니다.
        한 번의 요청으로 최대 20개의 주문을 취소할 수 있습니다.

        이 API는 쿼리 파라미터 형식만 지원합니다.
        uuid[] 또는 identifier[]를 반드시 포함해야 합니다.
        두 파라미터를 동시에 사용할 수 없습니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: uuids[]
          in: query
          required: false
          description: "취소하고자 하는 주문의 UUID 목록. 최대 20개"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: identifiers[]
          in: query
          required: false
          description: "취소하고자 하는 주문의 클라이언트 지정 식별자 목록. 최대 20개"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: 취소 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelResult"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/orders/cancel_and_new:
    post:
      operationId: cancelAndNewOrder
      summary: 취소 후 재주문
      description: |
        한 번의 요청으로 기존 주문을 취소하고 신규 주문을 생성합니다.

        신규 주문은 기존 주문과 동일한 페어, 동일한 주문 방향에 대해서만 생성 가능합니다.
        기존 주문의 취소가 완료된 이후 신규 주문이 생성됩니다.

        prev_order_uuid 또는 prev_order_identifier를 반드시 포함해야 합니다.
      tags: [orders]
      x-rate-limit:
        group: order
        max_per_sec: 8
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelAndNewOrderRequest"
      responses:
        "201":
          description: 취소 및 재주문 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelAndNewOrderResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/orders/chance:
    get:
      operationId: getOrderChance
      summary: 페어별 주문 가능 정보 조회
      description: |
        지정한 페어의 주문 가능 정보를 조회합니다.

        적용 수수료율, 지원 주문 방향 및 유형, 기준/호가 자산의 통화 및
        최소/최대 주문 가능 금액, 계정 잔고 등을 확인할 수 있습니다.
      tags: [orders]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: market
          in: query
          required: true
          description: 조회하고자 하는 페어(거래쌍)
          schema:
            type: string
          example: "KRW-BTC"
      responses:
        "200":
          description: 주문 가능 정보
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderChance"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ── Deposits ──

  /v1/deposit:
    get:
      operationId: getDeposit
      summary: 개별 입금 조회
      description: |
        최신 입금 이력을 조회합니다.
        특정 입금 정보를 조회하고자 하는 경우 입금의 UUID 또는 트랜잭션 ID(TXID), 통화 코드로 지정할 수 있습니다.
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: currency
          in: query
          required: false
          description: 조회하고자 하는 통화 코드
          schema:
            type: string
        - name: uuid
          in: query
          required: false
          description: "조회하고자 하는 입금의 유일식별자(UUID). uuid와 txid를 모두 입력하지 않는 경우 최신 입금 정보가 반환됩니다."
          schema:
            type: string
        - name: txid
          in: query
          required: false
          description: "조회하고자 하는 입금의 트랜잭션 ID. uuid와 txid를 모두 입력하지 않는 경우 최신 입금 정보가 반환됩니다."
          schema:
            type: string
      responses:
        "200":
          description: 입금 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deposit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/deposits:
    get:
      operationId: listDeposits
      summary: 입금 목록 조회
      description: |
        최신 입금 목록을 조회합니다.

        조회 조건을 설정하여 해당 조건을 만족하는 입금 목록만 조회할 수 있습니다.
        통화, 입금 진행 상태, UUID 목록 또는 TXID 목록을 필터 파라미터로 사용할 수 있습니다.
        조건을 별도로 지정하지 않는 경우 최근 100개 입금 이력이 반환됩니다.
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: currency
          in: query
          required: false
          description: 조회하고자 하는 통화 코드
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: "입금 처리 상태. `PROCESSING`, `ACCEPTED`, `CANCELLED`, `REJECTED`, `TRAVEL_RULE_SUSPECTED`, `REFUNDING`, `REFUNDED`"
          schema:
            type: string
            enum: [PROCESSING, ACCEPTED, CANCELLED, REJECTED, TRAVEL_RULE_SUSPECTED, REFUNDING, REFUNDED]
        - name: uuids[]
          in: query
          required: false
          description: "조회하고자 하는 유일식별자(UUID) 목록"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: txids[]
          in: query
          required: false
          description: "조회하고자 하는 트랜잭션 ID 목록"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          required: false
          description: "요청 개수 (default: 100, max: 100)"
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: page
          in: query
          required: false
          description: 조회할 페이지 번호
          schema:
            type: integer
            default: 1
        - $ref: "#/components/parameters/OrderByParam"
        - name: from
          in: query
          required: false
          description: "Pagination을 위한 조회 범위 지정용 커서. 응답에 포함된 uuid 값을 입력하여 해당 입금 시각 이후 limit개의 이력을 이어서 조회할 수 있습니다."
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: "Pagination을 위한 조회 범위 지정용 커서. 응답에 포함된 uuid 값을 입력하여 해당 입금 시각 이전 limit개의 이력을 조회할 수 있습니다."
          schema:
            type: string
      responses:
        "200":
          description: 입금 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deposit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/deposits/generate_coin_address:
    post:
      operationId: createDepositAddress
      summary: 입금 주소 생성 요청
      description: |
        개인 지갑 또는 타 거래소 자산을 업비트로 입금하기 위한 입금 주소 생성을 요청합니다.

        입금 주소 생성은 비동기 방식으로 동작합니다.
        - 최초 요청 직후: 주소 생성 요청의 접수 성공 여부를 반환 (201)
        - 생성 완료 후 재요청: 생성된 주소 정보 반환 (200)
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currency, net_type]
              properties:
                currency:
                  type: string
                  description: 입금 주소가 생성된 통화 코드
                net_type:
                  type: string
                  description: 네트워크 유형
      responses:
        "200":
          description: 생성된 입금 주소 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositAddress"
        "201":
          description: 입금 주소 생성 요청 접수 완료
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    description: 입금 주소 생성 요청의 성공 여부
                  message:
                    type: string
                    description: 입금 주소 생성 요청 결과에 대한 메시지
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/deposits/coin_address:
    get:
      operationId: getDepositAddress
      summary: 개별 입금 주소 조회
      description: |
        지정한 통화의 입금 주소 정보를 조회합니다.

        입금 주소 생성 요청 후 주소가 생성되기 전에 이 API를 호출하는 경우,
        응답의 deposit_address 필드가 null로 반환될 수 있습니다.
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: currency
          in: query
          required: true
          description: 조회하고자 하는 통화 코드
          schema:
            type: string
        - name: net_type
          in: query
          required: true
          description: 디지털 자산 입출금에 사용되는 블록체인 네트워크 식별자
          schema:
            type: string
      responses:
        "200":
          description: 입금 주소 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositAddress"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/deposits/coin_addresses:
    get:
      operationId: listDepositAddresses
      summary: 입금 주소 목록 조회
      description: 계정의 모든 입금 주소 목록을 조회합니다. 정상적으로 생성된 모든 입금 주소 목록이 반환됩니다.
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      responses:
        "200":
          description: 입금 주소 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DepositAddress"

  /v1/deposits/krw:
    post:
      operationId: depositKrw
      summary: 원화 입금
      description: 입출금 계좌로부터 원화를 지정한 금액만큼 입금합니다.
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, two_factor_type]
              properties:
                amount:
                  type: string
                  description: 입금하고자 하는 원화의 금액
                two_factor_type:
                  type: string
                  enum: [kakao, naver, hana]
                  description: "원화 입출금 시 사용할 2차 인증 수단. `kakao`: 카카오 인증, `naver`: 네이버 인증, `hana`: 하나인증서 인증"
      responses:
        "201":
          description: 원화 입금 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deposit"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/deposits/chance/coin:
    get:
      operationId: getDepositChanceCoin
      summary: 디지털 자산 입금 가능 정보 조회
      description: |
        지정한 통화에 대한 입금 가능 정보를 조회합니다.

        입금 가능 정보 조회 API는 실시간 상태 조회를 보장하지 않으며 반영은 수 분 정도 지연될 수 있습니다.
      tags: [deposits]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: currency
          in: query
          required: true
          description: 조회하고자 하는 통화 코드
          schema:
            type: string
        - name: net_type
          in: query
          required: true
          description: 디지털 자산 입출금에 사용되는 블록체인 네트워크 식별자
          schema:
            type: string
      responses:
        "200":
          description: 입금 가능 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositChanceCoin"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ── Withdrawals ──

  /v1/withdraw:
    get:
      operationId: getWithdrawal
      summary: 개별 출금 조회
      description: |
        최신 단일 출금 정보를 조회합니다.
        특정 출금 정보를 조회하고자 하는 경우 출금의 UUID 또는 트랜잭션 ID(TXID)로 지정할 수 있습니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: uuid
          in: query
          required: false
          description: "조회하고자 하는 출금의 유일식별자(UUID). uuid와 txid를 모두 입력하지 않는 경우 최신 출금 정보가 반환됩니다."
          schema:
            type: string
        - name: txid
          in: query
          required: false
          description: "조회하고자 하는 출금의 트랜잭션 ID. uuid와 txid를 모두 입력하지 않는 경우 최신 출금 정보가 반환됩니다."
          schema:
            type: string
        - name: currency
          in: query
          required: false
          description: 조회하고자 하는 통화 코드
          schema:
            type: string
      responses:
        "200":
          description: 출금 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Withdrawal"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/withdraws:
    get:
      operationId: listWithdrawals
      summary: 출금 목록 조회
      description: |
        최신 출금 목록을 조회합니다.

        조회 조건을 설정하여 해당 조건을 만족하는 출금 목록만 조회할 수 있습니다.
        통화, 출금 진행 상태, UUID 목록 또는 TXID 목록을 필터 파라미터로 사용할 수 있습니다.
        조건을 별도로 지정하지 않는 경우 최근 100개 출금 이력이 반환됩니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: currency
          in: query
          required: false
          description: 조회하고자 하는 통화 코드
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: "출금 처리 상태. `WAITING`, `PROCESSING`, `DONE`, `FAILED`, `CANCELLED`, `REJECTED`"
          schema:
            type: string
            enum: [WAITING, PROCESSING, DONE, FAILED, CANCELLED, REJECTED]
        - name: uuids[]
          in: query
          required: false
          description: "조회하고자 하는 유일식별자(UUID) 목록. 최대 100개. uuids와 txids는 동시에 사용할 수 없습니다."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: txids[]
          in: query
          required: false
          description: "조회하고자 하는 트랜잭션 ID 목록. 최대 100개. uuids와 txids는 동시에 사용할 수 없습니다."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          required: false
          description: "요청 개수 (default: 100, max: 100)"
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: page
          in: query
          required: false
          description: 조회할 페이지 번호
          schema:
            type: integer
            default: 1
        - $ref: "#/components/parameters/OrderByParam"
        - name: from
          in: query
          required: false
          description: "Pagination을 위한 조회 범위 지정용 커서. 응답에 포함된 uuid 값을 입력하여 해당 출금 시각 이후 limit개의 출금 이력을 이어서 조회할 수 있습니다."
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: "Pagination을 위한 조회 범위 지정용 커서. 응답에 포함된 uuid 값을 입력하여 해당 출금 시각 이전 limit개의 출금 이력을 조회할 수 있습니다."
          schema:
            type: string
      responses:
        "200":
          description: 출금 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Withdrawal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/withdraws/coin:
    post:
      operationId: withdrawCoin
      summary: 디지털 자산 출금 요청
      description: |
        디지털 자산 출금을 요청합니다.

        API를 통한 디지털 자산 출금시 출금 대상 주소를 반드시 사전에 출금 허용 주소로 등록해야 합니다.
        네트워크 타입(net_type)은 필수 파라미터입니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawCoinRequest"
      responses:
        "201":
          description: 출금 요청 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Withdrawal"
        "400":
          $ref: "#/components/responses/BadRequest"
    delete:
      operationId: cancelWithdrawal
      summary: 디지털 자산 출금 취소 요청
      description: |
        출금 UUID로 요청이 완료된 디지털 자산 출금 건의 취소를 요청합니다.

        취소 가능한 상태의 출금건에 대해서만 정상적으로 접수됩니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: uuid
          in: query
          required: true
          description: 취소하고자 하는 출금의 유일식별자(UUID)
          schema:
            type: string
      responses:
        "200":
          description: 취소된 출금 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Withdrawal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/withdraws/krw:
    post:
      operationId: withdrawKrw
      summary: 원화 출금 요청
      description: |
        원화(KRW) 출금을 요청합니다.

        원화 출금 요청 시 추가 인증 수단을 통한 사용자 인증이 완료된 후에 출금이 실행됩니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, two_factor_type]
              properties:
                amount:
                  type: string
                  description: 출금하고자 하는 원화 금액
                two_factor_type:
                  type: string
                  enum: [kakao, naver, hana]
                  description: "원화 입출금 시 사용할 2차 인증 수단. `kakao`: 카카오 인증, `naver`: 네이버 인증, `hana`: 하나인증서 인증"
      responses:
        "201":
          description: 원화 출금 요청 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WithdrawalKrw"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/withdraws/coin_addresses:
    get:
      operationId: listWithdrawalAddresses
      summary: 출금 허용 주소 목록 조회
      description: |
        계정에 등록된 출금 허용 주소 목록을 조회합니다.

        출금 기능을 이용하기 위해서는 출금 주소 등록이 반드시 필요합니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      responses:
        "200":
          description: 출금 허용 주소 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WithdrawalAddress"

  /v1/withdraws/chance:
    get:
      operationId: getWithdrawalChance
      summary: 출금 가능 정보 조회
      description: |
        지정한 통화에 대한 출금 가능 정보를 조회합니다.
        해당 통화의 출금 정책과 사용자 잔고를 확인할 수 있습니다.
      tags: [withdrawals]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      parameters:
        - name: currency
          in: query
          required: true
          description: 출금 가능 정보를 조회하고자 하는 통화 코드
          schema:
            type: string
        - name: net_type
          in: query
          required: false
          description: "디지털 자산 입출금에 사용되는 블록체인 네트워크 식별자. 디지털 자산인 경우 필수(required) 필드입니다."
          schema:
            type: string
      responses:
        "200":
          description: 출금 가능 정보
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WithdrawalChance"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ── Travel Rule ──

  /v1/travel_rule/vasps:
    get:
      operationId: listTravelRuleVasps
      summary: 계정주 확인 서비스 지원 거래소 목록 조회
      description: 계정주 확인 서비스를 지원하는 거래소 목록을 조회합니다.
      tags: [travel_rule]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      responses:
        "200":
          description: 트래블룰 지원 거래소 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TravelRuleVasp"

  /v1/travel_rule/deposit/uuid:
    post:
      operationId: verifyTravelRuleByUuid
      summary: 입금 UUID로 계정주 검증 요청
      description: |
        입금의 UUID로 트래블룰 검증(입금 계정주 확인)을 요청합니다.

        계정주 검증이 완료된 이후 입금 반영이 진행됩니다.
        검증이 완료 시 즉시 입금 반영이 진행되나, 블록체인 네트워크 지연 등으로
        검증 이후에도 입금 자체가 아직 처리 중인 경우 입금이 완료된 이후 입금 반영이 진행됩니다.
      tags: [travel_rule]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deposit_uuid, vasp_uuid]
              properties:
                deposit_uuid:
                  type: string
                  description: 입금의 유일식별자(UUID)
                vasp_uuid:
                  type: string
                  description: 자산을 출금한 상대 거래소의 유일식별자(UUID)
      responses:
        "201":
          description: 검증 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelRuleVerification"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/travel_rule/deposit/txid:
    post:
      operationId: verifyTravelRuleByTxid
      summary: 입금 TxID로 계정주 검증 요청
      description: |
        입금의 TxID로 트래블룰 검증(입금 계정주 확인)을 요청합니다.

        계정주 검증이 완료된 이후 입금 반영이 진행됩니다.
        검증이 완료 시 즉시 입금 반영이 진행되나, 블록체인 네트워크 지연 등으로
        검증 이후에도 입금 자체가 아직 처리 중인 경우 입금이 완료된 이후 입금 반영이 진행됩니다.
      tags: [travel_rule]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vasp_uuid, txid, currency, net_type]
              properties:
                vasp_uuid:
                  type: string
                  description: 자산을 출금한 상대 거래소의 유일식별자(UUID)
                txid:
                  type: string
                  description: 검증할 입금의 트랜잭션 ID
                currency:
                  type: string
                  description: 조회하고자 하는 통화 코드
                net_type:
                  type: string
                  description: 디지털 자산 입출금에 사용되는 블록체인 네트워크 식별자
      responses:
        "201":
          description: 검증 결과
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelRuleVerification"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Service ──

  /v1/status/wallet:
    get:
      operationId: listWalletStatus
      summary: 입출금 서비스 상태 조회
      description: |
        전체 통화에 대해 입출금 서비스 상태를 조회합니다.

        입출금 서비스 상태 조회 API는 실시간 상태 조회를 보장하지 않으며,
        반영은 수 분 정도 지연될 수 있습니다.
      tags: [service]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      responses:
        "200":
          description: 입출금 서비스 상태 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WalletStatus"

  /v1/api_keys:
    get:
      operationId: listApiKeys
      summary: API Key 목록 조회
      description: 계정의 모든 API Key 목록과 각 Key의 만료일자를 조회합니다.
      tags: [service]
      x-rate-limit:
        group: default
        max_per_sec: 30
        unit: account
      responses:
        "200":
          description: API Key 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiKey"

# ─────────────────────────── components ───────────────────────────

components:

  # ── Security Schemes ──

  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ── Parameters ──

  parameters:
    OrderByParam:
      name: order_by
      in: query
      required: false
      description: "결과 정렬 방식. `asc`(오름차순), `desc`(내림차순, 기본값)"
      schema:
        type: string
        enum: [asc, desc]
        default: desc

  # ── Responses ──

  responses:
    BadRequest:
      description: 잘못된 요청 파라미터
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalidParameter:
              summary: 파라미터 오류
              value:
                error:
                  name: "invalid_parameter"
                  message: "잘못된 파라미터"
            validationError:
              summary: 검증 오류
              value:
                error:
                  name: "validation_error"
                  message: "\"field name\" does not have a valid value"

    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            noAuthorizationIp:
              summary: 인증되지 않은 IP
              value:
                error:
                  name: "no_authorization_ip"
                  message: "This is not a verified IP."
            jwtVerification:
              summary: JWT 검증 실패
              value:
                error:
                  name: "jwt_verification"
                  message: "잘못된 API 키입니다."
            invalidQueryPayload:
              summary: 쿼리 페이로드 검증 실패
              value:
                error:
                  name: "invalid_query_payload"
                  message: "Jwt의 query를 검증하는데 실패하였습니다."

    Forbidden:
      description: 접근 권한 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              name: "market_offline"
              message: "시스템 점검 중입니다. 점검이 완료된 후에 다시 시도해주세요."

    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            orderNotFound:
              summary: 주문 미발견
              value:
                error:
                  name: "order_not_found"
                  message: "주문을 찾지 못했습니다."
            depositNotFound:
              summary: 입금 미발견
              value:
                error:
                  name: "deposit_not_found"
                  message: "입출금 정보를 찾지 못했습니다."
            withdrawNotFound:
              summary: 출금 미발견
              value:
                error:
                  name: "withdraw_not_found"
                  message: "출금 정보를 찾지 못했습니다."

  # ── Schemas ──

  schemas:

    # ── Error ──

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [name, message]
          properties:
            name:
              type: string
              description: "에러 코드 또는 에러명. [예시] invalid_parameter, validation_error, order_not_found"
            message:
              type: string
              description: 에러 메세지

    # ── Accounts ──

    Account:
      type: object
      required:
        - currency
        - balance
        - locked
        - avg_buy_price
        - avg_buy_price_modified
        - unit_currency
      properties:
        currency:
          type: string
          description: 통화 코드
          example: "KRW"
        balance:
          type: string
          description: "주문 가능 수량 또는 금액. 디지털 자산의 경우 수량, 법정 통화(KRW)의 경우 금액"
          example: "1000000.0"
        locked:
          type: string
          description: 출금이나 주문 등에 잠겨 있는 잔액
          example: "0.0"
        avg_buy_price:
          type: string
          description: 매수 평균가
          example: "0"
        avg_buy_price_modified:
          type: boolean
          description: 매수 평균가 수정 여부
          example: false
        unit_currency:
          type: string
          description: "평균가 기준 통화. [예시] KRW, BTC, USDT"
          example: "KRW"

    # ── Orders ──

    CreateOrderRequest:
      type: object
      required: [market, side]
      properties:
        market:
          type: string
          description: 주문을 생성하고자 하는 대상 페어(거래쌍)
          example: "KRW-BTC"
        side:
          type: string
          enum: [bid, ask]
          description: "주문 방향(매수/매도). 매수: `bid`, 매도: `ask`"
        volume:
          type: string
          description: "주문 수량. 지정가 매수/매도(`limit`), 시장가 매도(`market`), 최유리 지정가 매도(`best` + `ask`)에서 필수"
        price:
          type: string
          description: "주문 단가 또는 총액. 지정가 매수/매도(`limit`), 시장가 매수(`price`), 최유리 지정가 매수(`best` + `bid`)에서 필수"
        ord_type:
          type: string
          enum: [limit, price, market, best]
          default: limit
          description: "주문 유형. `limit`: 지정가, `price`: 시장가 매수, `market`: 시장가 매도, `best`: 최유리 지정가"
        identifier:
          type: string
          description: 클라이언트 지정 주문 식별자. 계정 전체 주문 내 유일한 값 필요, 재사용 불가
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: "주문 체결 조건. `ioc`: IOC, `fok`: FOK, `post_only`: Post Only. 최유리 지정가(`best`)에서는 `ioc` 또는 `fok` 필수"
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: "자전거래 체결 방지(SMP) 모드. `cancel_maker`, `cancel_taker`, `reduce`"

    OrderCreated:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - state
        - created_at
        - remaining_volume
        - executed_volume
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - trades_count
        - prevented_volume
        - prevented_locked
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 주문의 유일 식별자
        side:
          type: string
          enum: [ask, bid]
          description: "주문 방향(매수/매도)"
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 주문 유형
        price:
          type: string
          description: 주문 단가 또는 총액
        state:
          type: string
          enum: [wait, watch, done, cancel]
          description: "주문 상태. `wait`: 체결 대기, `watch`: 예약 주문 대기, `done`: 체결 완료, `cancel`: 주문 취소"
        created_at:
          type: string
          description: "주문 생성 시각 (KST 기준). [형식] yyyy-MM-ddTHH:mm:ss+09:00"
        volume:
          type: string
          description: 주문 요청 수량
        remaining_volume:
          type: string
          description: 체결 후 남은 주문 양
        executed_volume:
          type: string
          description: 체결된 양
        reserved_fee:
          type: string
          description: 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 남은 수수료
        paid_fee:
          type: string
          description: 사용된 수수료
        locked:
          type: string
          description: 거래에 사용 중인 비용
        trades_count:
          type: integer
          description: 해당 주문에 대한 체결 건수
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: "자전거래 방지로 인해 해제된 자산. 매수: 취소된 금액, 매도: 취소된 수량"

    OrderDetail:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - state
        - created_at
        - executed_volume
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - prevented_locked
        - trades_count
        - trades
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 주문의 유일 식별자
        side:
          type: string
          enum: [ask, bid]
          description: 주문 방향(매수/매도)
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 주문 유형
        price:
          type: string
          description: 주문 단가 또는 총액
        state:
          type: string
          enum: [wait, watch, done, cancel]
          description: 주문 상태
        created_at:
          type: string
          description: "주문 생성 시각 (KST 기준)"
        volume:
          type: string
          description: 주문 요청 수량
        remaining_volume:
          type: string
          description: 체결 후 남은 주문 양
        executed_volume:
          type: string
          description: 체결된 양
        reserved_fee:
          type: string
          description: 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 남은 수수료
        paid_fee:
          type: string
          description: 사용된 수수료
        locked:
          type: string
          description: 거래에 사용 중인 비용
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: 자전거래 방지로 인해 해제된 자산
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        trades_count:
          type: integer
          description: 해당 주문에 대한 체결 건수
        trades:
          type: array
          description: 주문의 체결 목록
          items:
            $ref: "#/components/schemas/OrderTrade"

    OrderTrade:
      type: object
      required:
        - market
        - uuid
        - price
        - volume
        - funds
        - trend
        - created_at
        - side
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
        uuid:
          type: string
          description: 체결의 유일 식별자
        price:
          type: string
          description: 체결 단가
        volume:
          type: string
          description: 체결 수량
        funds:
          type: string
          description: 체결 총액
        trend:
          type: string
          enum: [up, down]
          description: "체결 시세 흐름. `up`: 매수 주문에 의해 체결, `down`: 매도 주문에 의해 체결"
        created_at:
          type: string
          description: "체결 시각 (KST 기준). [형식] yyyy-MM-ddTHH:mm:ss.SSS+09:00"
        side:
          type: string
          enum: [ask, bid]
          description: "체결 방향(매수/매도)"

    OrderOpen:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - state
        - created_at
        - remaining_volume
        - executed_volume
        - executed_funds
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - prevented_volume
        - prevented_locked
        - trades_count
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 주문의 유일 식별자
        side:
          type: string
          enum: [ask, bid]
          description: 주문 방향(매수/매도)
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 주문 유형
        price:
          type: string
          description: 주문 단가 또는 총액
        state:
          type: string
          enum: [wait, watch]
          description: "주문 상태. `wait`: 체결 대기, `watch`: 예약 주문 대기"
        created_at:
          type: string
          description: "주문 생성 시각 (KST 기준)"
        volume:
          type: string
          description: 주문 요청 수량
        remaining_volume:
          type: string
          description: 체결 후 남은 주문 양
        executed_volume:
          type: string
          description: 체결된 양
        executed_funds:
          type: string
          description: 현재까지 체결된 금액
        reserved_fee:
          type: string
          description: 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 남은 수수료
        paid_fee:
          type: string
          description: 사용된 수수료
        locked:
          type: string
          description: 거래에 사용 중인 비용
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: 자전거래 방지로 인해 해제된 자산
        trades_count:
          type: integer
          description: 해당 주문에 대한 체결 건수

    OrderClosed:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - price
        - state
        - created_at
        - volume
        - remaining_volume
        - executed_volume
        - executed_funds
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - prevented_volume
        - prevented_locked
        - trades_count
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 주문의 유일 식별자
        side:
          type: string
          enum: [ask, bid]
          description: 주문 방향(매수/매도)
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 주문 유형
        price:
          type: string
          description: 주문 단가 또는 총액
        state:
          type: string
          enum: [done, cancel]
          description: "주문 상태. `done`: 체결 완료, `cancel`: 주문 취소"
        created_at:
          type: string
          description: "주문 생성 시각 (KST 기준)"
        volume:
          type: string
          description: 주문 요청 수량
        remaining_volume:
          type: string
          description: 체결 후 남은 주문 양
        executed_volume:
          type: string
          description: 체결된 양
        executed_funds:
          type: string
          description: 현재까지 체결된 금액
        reserved_fee:
          type: string
          description: 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 남은 수수료
        paid_fee:
          type: string
          description: 사용된 수수료
        locked:
          type: string
          description: 거래에 사용 중인 비용
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: 자전거래 방지로 인해 해제된 자산
        trades_count:
          type: integer
          description: 해당 주문에 대한 체결 건수

    OrderByIds:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - state
        - created_at
        - executed_volume
        - executed_funds
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - prevented_locked
        - trades_count
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 주문의 유일 식별자
        side:
          type: string
          enum: [ask, bid]
          description: 주문 방향(매수/매도)
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 주문 유형
        price:
          type: string
          description: 주문 단가 또는 총액
        state:
          type: string
          enum: [wait, watch, done, cancel]
          description: 주문 상태
        created_at:
          type: string
          description: "주문 생성 시각 (KST 기준)"
        volume:
          type: string
          description: 주문 요청 수량
        remaining_volume:
          type: string
          description: 체결 후 남은 주문 양
        executed_volume:
          type: string
          description: 체결된 양
        executed_funds:
          type: string
          description: 현재까지 체결된 금액
        reserved_fee:
          type: string
          description: 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 남은 수수료
        paid_fee:
          type: string
          description: 사용된 수수료
        locked:
          type: string
          description: 거래에 사용 중인 비용
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: 자전거래 방지로 인해 해제된 자산
        trades_count:
          type: integer
          description: 해당 주문에 대한 체결 건수

    OrderCanceled:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - state
        - created_at
        - remaining_volume
        - executed_volume
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - prevented_volume
        - prevented_locked
        - trades_count
      properties:
        market:
          type: string
          description: "페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 주문의 유일 식별자
        side:
          type: string
          enum: [ask, bid]
          description: 주문 방향(매수/매도)
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 주문 유형
        price:
          type: string
          description: 주문 단가 또는 총액
        state:
          type: string
          enum: [wait, watch]
          description: "주문 상태. `wait`: 체결 대기, `watch`: 예약 주문 대기"
        created_at:
          type: string
          description: "주문 생성 시각 (KST 기준)"
        volume:
          type: string
          description: 주문 요청 수량
        remaining_volume:
          type: string
          description: 체결 후 남은 주문 양
        executed_volume:
          type: string
          description: 체결된 양
        reserved_fee:
          type: string
          description: 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 남은 수수료
        paid_fee:
          type: string
          description: 사용된 수수료
        locked:
          type: string
          description: 거래에 사용 중인 비용
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: 자전거래 방지로 인해 해제된 자산
        trades_count:
          type: integer
          description: 해당 주문에 대한 체결 건수

    CancelResult:
      type: object
      required: [success, failed]
      properties:
        success:
          type: object
          required: [count, orders]
          properties:
            count:
              type: number
              description: 성공적으로 취소된 주문 수
            orders:
              type: array
              description: 성공적으로 취소된 주문 목록
              items:
                type: object
                required: [uuid, market]
                properties:
                  uuid:
                    type: string
                    description: 주문의 유일 식별자
                  market:
                    type: string
                    description: "페어(거래쌍)의 코드"
                  identifier:
                    type: string
                    description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        failed:
          type: object
          required: [count, orders]
          properties:
            count:
              type: number
              description: 취소 실패한 주문 수
            orders:
              type: array
              description: 취소 실패한 주문 목록
              items:
                type: object
                required: [uuid, market]
                properties:
                  uuid:
                    type: string
                    description: 주문의 유일 식별자
                  market:
                    type: string
                    description: "페어(거래쌍)의 코드"
                  identifier:
                    type: string
                    description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"

    CancelAndNewOrderRequest:
      type: object
      required: [new_ord_type]
      properties:
        prev_order_uuid:
          type: string
          description: 취소하고자 하는 주문의 유일식별자(UUID)
        prev_order_identifier:
          type: string
          description: 취소하고자 하는 주문의 클라이언트 지정 식별자
        new_ord_type:
          type: string
          enum: [limit, price, market, best]
          description: "신규 주문의 주문 유형. `limit`, `price`, `market`, `best`"
        new_volume:
          type: string
          description: "신규 주문 수량. \"remain_only\"로 설정 시 이전 주문 잔량을 신규 주문 수량으로 설정"
        new_price:
          type: string
          description: 신규 주문 단가 또는 총액
        new_identifier:
          type: string
          description: 신규 주문의 클라이언트 지정 식별자. 이전 주문의 identifier 재사용 불가
        new_time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: "주문 체결 조건. `ioc`, `fok`, `post_only`. 최유리 지정가(`best`)에서는 `ioc` 또는 `fok` 필수"
        new_smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: "신규 주문의 자전거래 체결 방지(SMP) 모드"

    CancelAndNewOrderResponse:
      type: object
      required:
        - market
        - uuid
        - side
        - ord_type
        - state
        - created_at
        - remaining_volume
        - executed_volume
        - reserved_fee
        - remaining_fee
        - paid_fee
        - locked
        - prevented_volume
        - prevented_locked
        - trades_count
        - new_order_uuid
      properties:
        market:
          type: string
          description: "취소할 페어(거래쌍)의 코드"
          example: "KRW-BTC"
        uuid:
          type: string
          description: 취소할 주문의 유일 식별자
        identifier:
          type: string
          description: "클라이언트 지정 주문 식별자. 2024년 10월 18일 이후 생성된 주문에 대해서만 제공"
        side:
          type: string
          enum: [ask, bid]
          description: 취소할 주문의 방향(매수/매도)
        ord_type:
          type: string
          enum: [limit, price, market, best]
          description: 취소할 주문의 유형
        price:
          type: string
          description: 취소할 주문의 단가 또는 총액
        state:
          type: string
          enum: [wait, watch, done, cancel]
          description: 취소할 주문의 상태
        created_at:
          type: string
          description: "취소할 주문의 생성 시각 (KST 기준)"
        volume:
          type: string
          description: 취소할 주문의 수량
        remaining_volume:
          type: string
          description: 취소할 주문의 남은 주문 양
        executed_volume:
          type: string
          description: 취소할 주문의 체결된 양
        reserved_fee:
          type: string
          description: 취소할 주문의 수수료로 예약된 비용
        remaining_fee:
          type: string
          description: 취소할 주문의 남은 수수료
        paid_fee:
          type: string
          description: 취소할 주문의 사용된 수수료
        locked:
          type: string
          description: 취소할 주문의 거래에 사용 중인 비용
        prevented_volume:
          type: string
          description: 자전거래 방지로 인해 취소된 수량
        prevented_locked:
          type: string
          description: 자전거래 방지로 인해 해제된 자산
        smp_type:
          type: string
          enum: [cancel_maker, cancel_taker, reduce]
          description: 자전거래 체결 방지(SMP) 모드
        trades_count:
          type: integer
          description: 취소할 주문에 대한 체결 건수
        time_in_force:
          type: string
          enum: [ioc, fok, post_only]
          description: 주문 체결 옵션
        new_order_uuid:
          type: string
          description: 신규 생성된 주문의 유일 식별자
        new_order_identifier:
          type: string
          description: 신규 생성된 주문의 클라이언트 지정 식별자

    OrderChance:
      type: object
      required:
        - bid_fee
        - ask_fee
        - maker_bid_fee
        - maker_ask_fee
        - market
        - bid_account
        - ask_account
      properties:
        bid_fee:
          type: string
          description: 매수 시 적용되는 수수료율
          example: "0.0005"
        ask_fee:
          type: string
          description: 매도 시 적용되는 수수료율
          example: "0.0005"
        maker_bid_fee:
          type: string
          description: 매수 maker 주문 수수료 비율
          example: "0.0005"
        maker_ask_fee:
          type: string
          description: 매도 maker 주문 수수료 비율
          example: "0.0005"
        market:
          type: object
          description: 마켓 정보
          properties:
            id:
              type: string
              description: 마켓 ID
              example: "KRW-BTC"
            name:
              type: string
              description: 마켓 이름
              example: "BTC/KRW"
            order_types:
              type: array
              description: "(Deprecated) 지원 주문 유형"
              items:
                type: string
            order_sides:
              type: array
              description: 지원 주문 방향
              items:
                type: string
                enum: [ask, bid]
            bid_types:
              type: array
              description: 매수 지원 주문 유형
              items:
                type: string
            ask_types:
              type: array
              description: 매도 지원 주문 유형
              items:
                type: string
            bid:
              type: object
              description: 호가 자산 정보
              properties:
                currency:
                  type: string
                  description: 통화 코드
                min_total:
                  type: string
                  description: 최소 주문 금액
            ask:
              type: object
              description: 기준 자산 정보
              properties:
                currency:
                  type: string
                  description: 통화 코드
                min_total:
                  type: string
                  description: 최소 주문 금액
            max_total:
              type: string
              description: 최대 주문 금액
            state:
              type: string
              description: 마켓 상태
        bid_account:
          type: object
          description: 호가 자산(Quote Asset) 계좌 정보
          properties:
            currency:
              type: string
              description: 통화 코드
            balance:
              type: string
              description: 주문 가능 잔고
            locked:
              type: string
              description: 잠긴 잔고
            avg_buy_price:
              type: string
              description: 매수 평균가
            avg_buy_price_modified:
              type: boolean
              description: 매수 평균가 수정 여부
            unit_currency:
              type: string
              description: 평균가 기준 통화
        ask_account:
          type: object
          description: 기준 자산(Base Asset) 계좌 정보
          properties:
            currency:
              type: string
              description: 통화 코드
            balance:
              type: string
              description: 주문 가능 잔고
            locked:
              type: string
              description: 잠긴 잔고
            avg_buy_price:
              type: string
              description: 매수 평균가
            avg_buy_price_modified:
              type: boolean
              description: 매수 평균가 수정 여부
            unit_currency:
              type: string
              description: 평균가 기준 통화

    # ── Deposits ──

    Deposit:
      type: object
      required:
        - type
        - uuid
        - currency
        - net_type
        - txid
        - state
        - created_at
        - done_at
        - amount
        - fee
        - transaction_type
      properties:
        type:
          type: string
          description: "입금 종류"
          default: deposit
          example: "deposit"
        uuid:
          type: string
          description: 입금의 유일식별자(UUID)
        currency:
          type: string
          description: 통화 코드
          example: "KRW"
        net_type:
          type: ["string", "null"]
          description: "입금 네트워크 유형. 업비트에서 사용하는 블록체인 네트워크 구분자. [예시] ETH, TRX, SOL"
        txid:
          type: string
          description: 입금 트랜잭션 ID
        state:
          type: string
          enum: [PROCESSING, ACCEPTED, CANCELLED, REJECTED, TRAVEL_RULE_SUSPECTED, REFUNDING, REFUNDED]
          description: "입금 처리 상태. `PROCESSING`: 입금 진행 중, `ACCEPTED`: 완료, `CANCELLED`: 취소됨, `REJECTED`: 거절됨, `TRAVEL_RULE_SUSPECTED`: 트래블룰 추가 인증 대기중, `REFUNDING`: 반환 절차 중, `REFUNDED`: 반환됨"
        created_at:
          type: string
          description: "입금 요청 시각 (KST). [형식] yyyy-MM-ddTHH:mm:ss+09:00"
        done_at:
          type: ["string", "null"]
          description: "입금 완료 시각 (KST). [형식] yyyy-MM-ddTHH:mm:ss+09:00"
        amount:
          type: string
          description: 입금 금액 또는 수량
          example: "100000.0"
        fee:
          type: string
          description: 입금 수수료
          example: "0.0"
        transaction_type:
          type: string
          enum: [default, internal]
          description: "입금 유형. `default`: 일반 입금, `internal`: 바로 입금 (업비트 계정간 입금)"
          default: default

    DepositAddress:
      type: object
      required:
        - currency
        - net_type
      properties:
        currency:
          type: string
          description: 통화 코드
          example: "BTC"
        net_type:
          type: ["string", "null"]
          description: "입금 네트워크 유형. [예시] ETH, TRX, SOL"
          example: "BTC"
        deposit_address:
          type: string
          description: "입금 주소. 생성이 완료되지 않은 경우 null로 반환될 수 있습니다."
          example: "3EusRwybuZUhVDeHL7gh3HSLmbhLcy7NqD"
        secondary_address:
          type: ["string", "null"]
          description: "2차 출금 주소. 일부 디지털 자산의 경우 Destination Tag, Memo, 또는 Message와 같은 2차 주소를 포함합니다."

    DepositChanceCoin:
      type: object
      required:
        - currency
        - net_type
        - is_deposit_possible
        - deposit_impossible_reason
        - minimum_deposit_amount
        - minimum_deposit_confirmations
        - decimal_precision
      properties:
        currency:
          type: string
          description: 통화 코드
          example: "BTC"
        net_type:
          type: ["string", "null"]
          description: "입금 네트워크 유형. [예시] ETH, TRX, SOL"
          example: "BTC"
        is_deposit_possible:
          type: boolean
          description: 입금 가능 여부
        deposit_impossible_reason:
          type: string
          description: "입금 불가 이유. is_deposit_possible이 false일 경우 메시지가 제공됩니다."
        minimum_deposit_amount:
          type: string
          description: 최소 입금 수량
          example: "0"
        minimum_deposit_confirmations:
          type: integer
          description: 최소 입금 컨펌 수
        decimal_precision:
          type: integer
          description: 입금 시 적용되는 소수점 자릿수

    # ── Withdrawals ──

    Withdrawal:
      type: object
      required:
        - type
        - uuid
        - currency
        - txid
        - state
        - created_at
        - amount
        - fee
        - transaction_type
        - is_cancelable
      properties:
        type:
          type: string
          description: 입출금 종류
          default: withdraw
          example: "withdraw"
        uuid:
          type: string
          description: 출금의 유일 식별자
        currency:
          type: string
          description: 통화 코드
          example: "BTC"
        net_type:
          type: string
          description: "출금 네트워크 유형. 원화(KRW) 출금의 경우 null로 반환됩니다. [예시] ETH, TRX, SOL"
        txid:
          type: ["string", "null"]
          description: 트랜잭션 ID
        state:
          type: string
          enum: [WAITING, PROCESSING, DONE, FAILED, CANCELLED, REJECTED]
          description: "출금 처리 상태. `WAITING`: 대기 중, `PROCESSING`: 처리 중, `DONE`: 완료, `FAILED`: 실패, `CANCELLED`: 취소됨, `REJECTED`: 거절됨"
        created_at:
          type: string
          description: 출금 생성 시간
        done_at:
          type: ["string", "null"]
          description: "출금 완료 시간. 출금이 완료되지 않은 경우 null"
        amount:
          type: string
          description: 출금하고자 하는 자산의 수량
          example: "0.01"
        fee:
          type: string
          description: 출금 수수료
          example: "0.0"
        transaction_type:
          type: string
          enum: [default, internal]
          description: "출금 유형. `default`: 일반출금, `internal`: 바로출금"
          default: default
        is_cancelable:
          type: boolean
          description: 출금 취소 가능 여부

    WithdrawalKrw:
      type: object
      required:
        - type
        - uuid
        - currency
        - txid
        - state
        - created_at
        - amount
        - fee
        - transaction_type
        - is_cancelable
      properties:
        type:
          type: string
          description: 입출금 종류
          default: withdraw
        uuid:
          type: string
          description: 출금의 유일 식별자
        currency:
          type: string
          description: 출금하고자 하는 통화 코드
          example: "KRW"
        txid:
          type: ["string", "null"]
          description: 트랜잭션 ID
        state:
          type: string
          enum: [WAITING, PROCESSING, DONE, FAILED, CANCELLED, REJECTED]
          description: 출금 처리 상태
        created_at:
          type: string
          description: 출금 생성 시간
        done_at:
          type: ["string", "null"]
          description: "출금 완료 시간. 출금이 완료되지 않은 경우 null"
        amount:
          type: string
          description: 출금 원화 금액
        fee:
          type: string
          description: 출금 수수료
        transaction_type:
          type: string
          enum: [default, internal]
          description: "출금 유형. `default`: 일반출금, `internal`: 바로출금"
          default: default
        is_cancelable:
          type: boolean
          description: 출금 취소 가능 여부

    WithdrawCoinRequest:
      type: object
      required: [currency, net_type, amount, address]
      properties:
        currency:
          type: string
          description: 출금하고자 하는 디지털 자산의 통화 코드
          example: "BTC"
        net_type:
          type: string
          description: 블록체인 네트워크 식별자. 출금 허용 주소 목록 조회 API를 통해 확인할 수 있습니다.
          example: "BTC"
        amount:
          type: string
          description: 출금하고자 하는 자산의 수량. 숫자 형식의 String
          example: "0.01"
        address:
          type: string
          description: 디지털 자산 출금 시 수신 주소. 출금 가능 주소 목록에 등록된 주소만 사용 가능
        secondary_address:
          type: ["string", "null"]
          description: "2차 출금 주소. 일부 디지털 자산의 경우 Destination Tag, Memo 등"
        transaction_type:
          type: string
          enum: [default, internal]
          default: default
          description: "출금 유형. `default`: 일반출금, `internal`: 바로출금"

    WithdrawalAddress:
      type: object
      required:
        - currency
        - net_type
        - network_name
        - withdraw_address
      properties:
        currency:
          type: string
          description: 출금하고자 하는 디지털 자산의 통화 코드
          example: "BTC"
        net_type:
          type: string
          description: "출금 네트워크 유형. 출금 요청 시 사용되는 net_type 파라미터와 같은 값. [예시] ETH, TRX, SOL"
          example: "BTC"
        network_name:
          type: string
          description: "출금 네트워크 이름. [예시] Ethereum, Bitcoin, Tron, Solana"
          example: "Bitcoin"
        withdraw_address:
          type: string
          description: 디지털 자산 출금 시 수신 주소
          example: "1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"
        secondary_address:
          type: ["string", "null"]
          description: "2차 출금 주소. 일부 디지털 자산의 경우 Destination Tag, Memo 등"
        beneficiary_name:
          type: string
          description: 수취 지갑 소유주명
        beneficiary_company_name:
          type: ["string", "null"]
          description: 출금된 자산을 받을 법인명
        beneficiary_type:
          type: ["string", "null"]
          enum: [individual, corporate, null]
          description: "계정주 타입. `individual`: 개인 지갑, `corporate`: 법인 지갑"
        exchange_name:
          type: ["string", "null"]
          description: "출금 허용 주소가 등록된 거래소명. [예시] 바이낸스, 바이비트"
        wallet_type:
          type: ["string", "null"]
          description: "개인 지갑 종류. [예시] 메타마스크"

    WithdrawalChance:
      type: object
      required:
        - member_level
        - currency
        - account
        - withdraw_limit
      properties:
        member_level:
          type: object
          description: 사용자 보안 등급 정보
          required:
            - security_level
            - fee_level
            - email_verified
            - identity_auth_verified
            - bank_account_verified
            - two_factor_auth_verified
            - locked
            - wallet_locked
          properties:
            security_level:
              type: integer
              description: 보안 등급
            fee_level:
              type: integer
              description: 수수료 등급
            email_verified:
              type: boolean
              description: 이메일 인증 여부
            identity_auth_verified:
              type: boolean
              description: 실명 인증 여부
            bank_account_verified:
              type: boolean
              description: 계좌 인증 여부
            two_factor_auth_verified:
              type: boolean
              description: 2FA 활성화 여부
            locked:
              type: boolean
              description: 계정 보호 상태
            wallet_locked:
              type: boolean
              description: 출금 보호 상태
        currency:
          type: object
          description: 통화 정보
          required:
            - code
            - withdraw_fee
            - is_coin
            - wallet_state
            - wallet_support
          properties:
            code:
              type: string
              description: 통화 코드
              example: "BTC"
            withdraw_fee:
              type: string
              description: 출금 수수료
              example: "0.0008"
            is_coin:
              type: boolean
              description: 디지털 자산 여부
            wallet_state:
              type: string
              enum: [working, unsupported]
              description: "자산별 입출금 지원 이력 여부. `working`: 입출금 지원한 적 있음, `unsupported`: 입출금 미지원"
            wallet_support:
              type: array
              description: "해당 통화의 입출금 가능 여부"
              items:
                type: string
                enum: [deposit, withdraw]
        account:
          type: object
          description: 자산 잔고 정보
          required:
            - currency
            - balance
            - locked
            - avg_buy_price
            - avg_buy_price_modified
            - unit_currency
          properties:
            currency:
              type: string
              description: 통화 코드
            balance:
              type: string
              description: "주문 가능 수량 또는 금액"
            locked:
              type: string
              description: 출금이나 주문 등에 잠겨 있는 잔액
            avg_buy_price:
              type: string
              description: 매수 평균가
            avg_buy_price_modified:
              type: boolean
              description: 매수 평균가 수정 여부
            unit_currency:
              type: string
              description: "평균가 기준 통화. [예시] KRW, BTC, USDT"
        withdraw_limit:
          type: object
          description: 출금 제약 조건
          required:
            - currency
            - onetime
            - daily
            - remaining_daily
            - remaining_daily_fiat
            - fiat_currency
          properties:
            currency:
              type: string
              description: 통화 코드
            onetime:
              type: string
              description: "1회 출금 한도 (deprecated)"
            daily:
              type: ["string", "null"]
              description: "1일 출금 한도 (deprecated)"
            remaining_daily:
              type: string
              description: "1일 잔여 출금 한도 (deprecated)"
            remaining_daily_fiat:
              type: string
              description: 통합 1일 잔여 출금 한도
            fiat_currency:
              type: string
              description: 기준 법정 통화
            minimum:
              type: string
              description: 최소 출금 금액 또는 수량
            fixed:
              type: integer
              description: 출금 금액/수량 소수점 자리 수
            withdraw_delayed_fiat:
              type: string
              description: 출금 지연 제도로 인해 출금이 제한된 금액
            can_withdraw:
              type: boolean
              description: 출금 지원 여부
            remaining_daily_krw:
              type: string
              description: "통합 1일 잔여 출금 한도 (KRW 기준) (deprecated)"

    # ── Travel Rule ──

    TravelRuleVasp:
      type: object
      required:
        - vasp_name
        - vasp_uuid
        - depositable
        - withdrawable
      properties:
        vasp_name:
          type: string
          description: "거래소 이름. VASP(가상자산사업자)의 이름"
          example: "업비트"
        vasp_uuid:
          type: string
          description: 거래소의 유일식별자(UUID)
        depositable:
          type: boolean
          description: 해당 VASP로부터 업비트로의 입금 반영 가능 여부
        withdrawable:
          type: boolean
          description: 해당 VASP로의 출금 가능 여부

    TravelRuleVerification:
      type: object
      required:
        - deposit_uuid
        - verification_result
        - deposit_state
      properties:
        deposit_uuid:
          type: string
          description: 입금의 유일식별자(UUID)
        verification_result:
          type: string
          description: 검증 결과
          example: "verified"
        deposit_state:
          type: string
          enum: [PROCESSING, ACCEPTED, CANCELLED, REJECTED, TRAVEL_RULE_SUSPECTED, REFUNDING, REFUNDED]
          description: |
            입금 처리 상태.
            - `PROCESSING`: 입금 진행 중
            - `ACCEPTED`: 완료
            - `CANCELLED`: 취소됨
            - `REJECTED`: 거절됨
            - `TRAVEL_RULE_SUSPECTED`: 트래블룰 추가 인증 대기중
            - `REFUNDING`: 반환 절차 중
            - `REFUNDED`: 반환됨

    # ── Service ──

    WalletStatus:
      type: object
      required:
        - currency
        - wallet_state
        - block_elapsed_minutes
        - net_type
        - network_name
      properties:
        currency:
          type: string
          description: 통화 코드
          example: "BTC"
        wallet_state:
          type: string
          enum: [working, withdraw_only, deposit_only, paused, unsupported]
          description: "입출금 상태. `working`: 입출금 가능, `withdraw_only`: 출금만 가능, `deposit_only`: 입금만 가능, `paused`: 입출금 중단, `unsupported`: 입출금 미지원"
        block_state:
          type: string
          enum: [normal, delayed, inactive]
          description: "블록체인 네트워크의 상태. 지갑 또는 거래소 상태에 따라 null로 반환될 수 있습니다. `normal`: 정상, `delayed`: 지연, `inactive`: 비활성"
        block_height:
          type: integer
          description: "현재 확인된 블록의 높이. null로 반환될 수 있습니다."
        block_updated_at:
          type: string
          description: "마지막으로 블록 높이가 갱신된 시각 (UTC). null로 반환될 수 있습니다. [형식] yyyy-MM-ddTHH:mm:sss+00:00"
        block_elapsed_minutes:
          type: integer
          description: "마지막 블록 업데이트 이후 현재까지 경과한 시간(분). null로 반환될 수 있습니다."
        net_type:
          type: string
          description: "입출금 네트워크 유형. [예시] ETH, TRX, SOL"
          example: "BTC"
        network_name:
          type: string
          description: "입출금 네트워크 이름. [예시] Ethereum, Bitcoin, Tron, Solana"
          example: "Bitcoin"

    ApiKey:
      type: object
      required:
        - access_key
        - expire_at
      properties:
        access_key:
          type: string
          description: API Key의 Access Key
          example: "abcd134567890231bacbd"
        expire_at:
          type: string
          description: "해당 Access Key의 Deprecated일시 (KST). [형식] yyyy-MM-ddTHH:mm:ss+09:00"
          example: "2026-07-01T09:00:00+09:00"
